@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

*{
  transition: 0.1s ease-out;
}

:root {
  /* --primary: #12bca2;
  --secondary: #6d15df; */

  --primary: #e65538;
  --secondary: #90264e;
  --accent: #c8213d;
}
h1,h2,h3 {
  margin: 0;
}

body {
  margin: 0;
  color: #fff;
  font-family: 'Poppins';
  background: var(--accent);
}
nav {
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
}
nav a {
  color: #f2f2f2;
  margin: 10px;
  display: inline-block;
}
nav h1 {
  color: #fff;
}
.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.login {
  max-width: 1200px;
  min-height: 70dvh;
  margin: 0px auto;
  padding: 20px;
  background: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login h1 {
  margin-right: 40px;
}

.login button {
  text-align: center;
  background-color: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 6px;
  height: 75px;
  font-size: 16px;
  width: 6dvw;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
}


.smoothie-grid{
  margin-top: 40;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.smoothie-card{
  width: 100%;
  padding: 10px;
  background: #fff;
  color: black;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}

.smoothie-card .rating{
  position: absolute;
  top: -10px;
  right: -10px;
  background: var(--secondary);
  color: #fff;
  border-radius: 6px;
  width: 40px;
  height: 0;
  padding: 20px 0;
  line-height: 0;
  text-align: center;
}

/* forms */

form{
  background: #fff;
  padding: 20px;
  color: black;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
}

form input, form textarea{
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 2px solid var(--primary);
  resize: vertical;
  margin: 10px 0 20px 0;
}

/* form input:focus, form textarea:active{
  border: 2px solid var(--accent);
} */

input, textarea{
  display: block;
  width: 22dvw;
  padding: 6px;
  box-sizing: border-box;
  border: 2px solid var(--primary);
  border-radius: 6px;
  resize: vertical;
  margin-right: 40px;
}

/* input:active, textarea:active{
  border: 2px solid var(--secondary);
} */

form button{
  background-color: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
}

.smoothie-card .buttons{
  text-align: right;
}

.smoothie-card i{
  color: #bbb;
  margin-left: 10px;
  font-size: 1.2rem;
  padding: 6px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
}

.smoothie-card .special{
  color: #fff;
  margin-left: 10px;
  font-size: 1.2rem;
  padding: 6px;
  background: var(--secondary);
  border-radius: 50%;
  cursor: pointer;
}

/* .smoothie-card .normal:hover{
  transform: scale(1.1);
} */

.smoothie-card .normal:hover{
  transform: scale(1.1);
}

.smoothie-card .normal:active{
  transform: scale(0.9);
}

/* order by */

.order-by button{
  margin-right: 10px;
  margin-bottom: 40px;
  background: var(--secondary);
  color: #fff;
  border: 0;
  padding: 4px 8px;
  border-radius: 6px;
  font-family: "Poppins";
  cursor: pointer;
}

.order-by .active{
  background: var(--primary);
}

.Link, .activeLink{
  margin-right: 10px;
  margin-bottom: 40px;
  color: #fff;
  border: 0;
  padding: 4px 8px;
  border-radius: 6px;
  font-family: "Poppins";
  text-decoration: none;
  cursor: pointer;
}

.Link{
  background: var(--primary);
}

.activeLink{
  background: var(--secondary);
}

.none-message{
  /* display: flex; */
  width: 400px;
  text-align: center;
  background-color: var(--secondary);
  border-radius: 6px;
}

.hidden{
  display: none;
  visibility: hidden;
  opacity: 0; 
}